@model Dictionary<MiniCoursesDomain.Identity.User, List<string>>

<h2 class="mb-4">Users</h2>

<div class="d-flex justify-content-between align-items-center mb-4">
    <a asp-controller="Users" asp-action="Create" class="btn btn-primary">Add user</a>

    <form method="get" class="d-flex gap-2 align-items-center" style="width: 500px;">
        <div class="form-group mb-0 w-50">
            <select id="roleFilter" name="selectedRole" class="form-control form-control-sm" onchange="this.form.submit()">
                <option value="">All Roles</option>
                @foreach (var role in ViewBag.Roles as List<string>)
                {
                    <option value="@role" selected="@(ViewBag.SelectedRole == role ? "selected" : null)">
                        @role
                    </option>
                }
            </select>
        </div>

        <div class="form-group mb-0 w-50">
            <select id="subjectFilter" name="subjectId" class="form-control form-control-sm" onchange="this.form.submit()">
                <option value="">All Subjects</option>
                @foreach (var subject in ViewBag.Subjects as List<MiniCoursesDomain.Entities.Subject>)
                {
                    <option value="@subject.Id" selected="@(ViewBag.SubjectId?.ToString() == subject.Id.ToString() ? "selected" : null)">
                        @subject.Name
                    </option>
                }
            </select>
        </div>
    </form>


</div>


<div style="height: 62vh;" class="overflow-auto bg-light border border-black rounded-lg p-3">
    <div class="list-group">
        @foreach (var user in Model)
        {
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <div class="ms-4">
                        <h6 class="mb-0">@user.Key.Name @user.Key.LastName | @(string.Join(", ", user.Value))</h6>
                        <small class="text-muted">
                            @user.Key.UserName
                            @if (user.Value.Contains("Student"))
                            {
                                <text> | Indeks: @user.Key.Indeks</text>
                            }
                        </small>
                    </div>
                </div>

                <div>
                    @if (user.Value.Contains("Student"))
                    {
                        <span>
                            <a asp-action="Grades" asp-route-id="@user.Key.Id">Grades</a> |
                        </span>
                    }
                    <a asp-action="Edit" asp-route-id="@user.Key.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@user.Key.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>

